body {
    font-family: "Courier New";
    background-color: #ddd;
    margin: 0;
}

.navbar {
    background-color: #333;
    padding-left: 12vw;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #aaa;
    color: white;
}

.navbar .sub-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar li:hover .sub-menu {
    background-color: #333;
    display: block;
}

main {
    background-color: white;
    margin: 0 12vw 0 12vw;
    padding: 4vh 2vw 4vh 2vw;
    min-height: 40em;
}

footer {
    height: 8em;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 1em;
}

h1 {
    color: black;
}

img.avatar {
    border-radius: 50%;
}

aside.avatar {
    float: right;
    margin-left: 4em;
}

section.project ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 8px;
    margin: 8px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    margin-bottom: 40px;
}

section.project li {
    background-color: #ddd;
    border-radius: 8px;
    padding: 6px;
    margin: 8px;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(255,255,255,0.2);
}

section.project li:hover {
    background-color: #dde;
    box-shadow: none;
}

figcaption {
    font-style: italic;
    margin: 0;
    padding: 3px;
    color: white;
    background-color: black;
}

figure {
    float: right;
    margin: 0;
    padding: 4px;
}

a img {
    display: block;
}

a {
    color: #333;
}

a:visited {
    color: #333;
}
