body {
     background-color: lightblue;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: lightgreen;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    color: navy;
    margin-left: 20px;
}
